body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fdfdfd;
    padding: 1rem;
    text-align: center;
    animation: animação 1s forwards;
    box-shadow: 4px 4px 4px rgb(105, 105, 105);
}
header h5{
  margin-top: 10px;
}
#linhaTop{
  border: 2px solid #0f83ffc0;
  margin: -1px 0;
}

.caroussel {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.carousel-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.carousel-item img{
  height: auto;
}
.banner_rolate {
  width: 100%;
  height: 200px;
  margin: 10px;
  box-shadow: 4px 3px 8px #333;
  flex: 0 0 100%;
}

.banner_rolate img {
  width: 200px;
  height: 150px;
}

@keyframes scrollCarrossel {
  0% {
    transform: translateX(0); /* Inicia a partir da posição inicial */
  }
  100% {
    transform: translateX(-500%); /* Move para a esquerda */
  }
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

section {
    margin-bottom: 2rem;
}
.sct1{
    margin-top: 40px;
}
#titulotop{
    margin-bottom: -5px;
}
#backOrcamento {
  width: 60%; /* Adicionei um valor para a largura (você pode ajustar conforme necessário) */
  margin: auto;
  padding: 40px 50px 0 40px;
  color: #fff;
  background-color: #ecececc2;
  border-radius: 20px;
  box-shadow: inset 4px 4px 4px rgb(150, 150, 150);
}

#backOrcamento h2 {
  color: #1c566d;
}

#backOrcamento p {
  color: #333;
}

h2 {
    color: #333;
    padding-bottom: 0.5rem;
}

/*buttom site*/
.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 20px 0;
  }
  
  h1 {
    font-size: 36px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn-portfolio {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
    box-shadow: 4px 4px 4px rgb(105, 105, 105);
  }
  
  .btn-portfolio:hover {
    background-color: #d3d3d3;
  }

.containerBox{
  padding: 20px;
}
.social-media-bar {
    background-color:#f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: inset 4px 4px 4px #333;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .social-media-bar a {
    margin: 0 10px;
  }
  
  .social-media-bar img {
    width: 30px;
    height: 30px;
  }
  #imgtamanho{
    width: 25px;
    height: 25px;
  }
  .social-media-bar a:hover img {
    opacity: 0.7;
  }
  .social-media-bar{
    animation: animação 3s forwards;
  }
  .social-media-bar img{
    animation: animação 1s forwards;
  }

footer {
  background-color: #333;
  color: #fdfdfd;
    padding: 1rem;
    text-align: center;
}
footer  strong{
    font-size: 13px;
}

@keyframes animação {
    0%{
      margin-left: -100px;
      background-color: #fff;
      visibility: hidden;  
    }
    50%{
      background-color: #fff;
      
    }
    100%{
    }
}
@media (max-width: 467px){
    main {
        width: 100%;
        padding: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .carousel-item img{
        height: 200px;
      }
      #backOrcamento{
        width: 360px;
    }
    #backOrcamento h2{
      color: #1c566d;
  }
  #backOrcamento p{
    color: #333;
}
}
